.slogan {
    text-align: left;
    height: fit-content;
    width: fill;
    font-size: 2.7em;
    line-height: 1.2;
}

.homepage {
    display: flex;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    padding: 2%;
}

.home-img {
    height: 450px;
    width: 450px;
    border-radius: 30px;
    margin-right: 8%;
    object-fit: cover;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.landing-text {
    line-height: 1.5;
    font-size: 1.7em;
    color: grey;
}

.homepage-btns {
    display: flex;
    justify-content: left;
    gap: 25px;
}

.homepage-btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    border: 2px solid black;
}

.homepage-btn:hover {
    background-color: white;
    color: black;
    transition: 0.2s;
}

.loader {
    display: flex;
    justify-content: center;
    margin-top: 3%;
}