* {
    font-family: 'Mukta', sans-serif;
}

.logo {
    display: flex;
    align-items: flex-end;
    height: auto;
    height: 10%;
}

.mmocat-icon {
    height: 60px;
    margin-right: 5px; 
}

.logo-text {
    height: fit-content;
    font-size: 36px;
    line-height: 1;
    margin: 0;
    padding: 0;
}
